.dialog-display section p {
  width: 700px;
  line-height:24px;
  text-align: center;
  padding-top: 10px;

}
.a.btn.btn-danger {
  background: #ff6161;
}
.aasi-dialog.error .dialog-display > p{
  min-height: 80px !important;
}

iatec-layout-header header nav h5 div a{
  display: contents !important;
}
