<form-layout [title]="'Vacations'" iconClass="icon-not-notice-conference">
    <card-layout [type]="inputLayoutSearch" [showExpandBtn]="false">
      <header-actions>
        <label for="txtFilter">
          {{'Filter by Employee Name:'}}
        </label>
  
        <div class="col-lg-3 form-group">
          <form focusFirstInput customId="txtFilter">
            <input id="txtFilter" name="textFilter" type="text" class="form-control" [(ngModel)]="filter"
                   prevComp="btnSearchAvAccountsNavId" nextComp="btnSearch" (keydown)="searchVacation($event)" />
          </form>
        </div>
        <button id="btnSearch" class="ai-search" (click)="searchByFilter()" type="button">
          {{'Search'}}
        </button>
      </header-actions>
    </card-layout>
  
    <card-layout [type]="inputLayout" [withContent]="true" [showExpandBtn]="false">
      <header-actions>
        <a [routerLink]="['/records/vacation', 0]" class="ai-add">{{'Add'}}</a>
      </header-actions>
      <div class="form-group">
        <data-grid #gridVacations [itemsSource]="vacations" [isLoading]="isLoading"
                   (onDblClicked)="onDblClicked($event)" (onGridEnterPress)="onEnterPress($event)">
          <column field="Employee.Name" filterMatchMode="contains" [header]="'Employee Name'"></column>
          <column field="VacationTypeName" filterMatchMode="contains" [header]="'Vacation Type'"></column>
          <column field="InitialDate" filterMatchMode="contains" [header]="'Initial Date'"></column>
          <column field="EndDate" filterMatchMode="contains" [header]="'End Date'"></column>
          <column field="RequestDate" filterMatchMode="contains" [header]="'RequestDate'"></column>
          <column [headerSize]="18" [header]="'Actions'" [style]="{'text-align':'center'}" [sortable]="false">
            <ng-template let-col let-data="rowData" pTemplate type="body">
              <a [routerLink]="['/records/vacation', data.Id]" class="ai-edit">{{'Edit'}}</a>
              <button class="ai-delete" title="Delete Vacation" (click)="delete(data.Id)">
                {{'Delete'}}
              </button>
            </ng-template>
          </column>
        </data-grid>
  
        <data-pager #pagerOne [itemsCount]="pager.TotalRows" [(itemsByPage)]="pager.RowsByPage" (pageChange)="onPageChange($event)"></data-pager>
      </div>
    </card-layout>
  </form-layout>
  