<form-layout [title]="'Vacation'" iconClass="icon-rec-project">
    <card-layout [type]="inputLayout" [withContent]="true" [showExpandBtn]="false">
      <header-actions>
        <button type="button" id="btnSaveId" name="buttonSave"
                [class.ai-loading]="isLoading" class="ai-save" title="Save" (click)="save()"
                componentNav prevComp="btnSearchId" [navNextOnlyTab]="true"
                [disabled]="isLoading || isLoadingDelete"
                [nextComp]="canDelete() ? 'btnDeleteId' : 'btnSearchId'">
          {{'Save'}}
        </button>
        <button type="button" id="btnDeleteId" class="ai-delete" [disabled]="!canDelete()"
                [class.ai-loading]="isLoadingDelete"
                (click)="delete()" componentNav prevComp="btnSaveId" nextComp="btnSearchId" [navNextOnlyTab]="true">
          {{'Delete'}}
        </button>
        <a [routerLink]="['/records/search-vacation']" prevComp="idName" class="ai-search" componentNav id="btnSearchId"
           prevComp="idDescription" [navNextOnlyTab]="true">
          {{'Search'}}
        </a>
      </header-actions>
  
      <form [formGroup]="formulary" errorTailor class="form-horizontal" focusFirstInput>
       
        <div class="form-group row">
          <label class="col-md-3 offset col-md-4">{{'Employee:'}}:
          </label>
            <search-box class="col-lg-4" 
            #sbEmployee
            navId="sbEmployeeId" 
            [(sbModel)]="vacation.Employee"
            (onFilterChanged)="onEmployeeSearch($event)" 
            [paginator]="true" 
            [(itemsSource)]="employees"
            (OnSelectionChanged)="onEmploeeSelected($event)"
            (OnClearedSelectedItem)="clearSelectedEmployee()">
            >
                <ng-template let-item="item">
                    {{item.Name}}
                </ng-template>
            </search-box>
        </div>
  
        <div class="form-group row">
          <label class="col-md-3 offset col-md-4">{{'InitialDate:'}}</label>
          <div class="col-md-4">
            <input id="idInitialDate" componentNav prevComp="idName" nextComp="btnSaveId" type="datetime-local" name="txtInitialDate" class="form-control" formControlName="InitialDate"
                   [(ngModel)]="vacation.InitialDate" />
          </div>
        </div>
  
        <div class="form-group row">
          <label class="col-md-3 offset col-md-4">{{'EndDate:'}}</label>
          <div class="col-md-4">
            <input id="idEndDate" componentNav prevComp="idName" nextComp="btnSaveId" type="datetime-local" name="txtEndDate" class="form-control" formControlName="EndDate"
                   [(ngModel)]="vacation.EndDate" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 offset col-md-4">Vacation Type: </label>
          <div class="col-md-4">
            <select class="form-control" formControlName="VacationType">
              @for (item of vacationTypeKeys; track $index) {
                
                <option [value]="vacationTypeEnum[item]">{{ item }}</option>
              }
            </select>
          </div>
        </div>
        
  
       
  
        <div class="form-group row">
          <label class="col-md-3 offset col-md-4">{{'Justification:'}}</label>
          <div class="col-md-4">
            <textarea id="idJustification" name="txtJustification" class="form-control" formControlName="Justification"
                      [(ngModel)]="vacation.Justification"></textarea>
          </div>
        </div>
  
        <div class="form-group row">
          <label class="col-md-3 offset col-md-4">{{'NumberOfDays:'}}</label>
          <div class="col-md-4">
            <input id="idNumberOfDays" type="number" name="txtNumberOfDays" class="form-control" formControlName="NumberOfDays"
                   [(ngModel)]="vacation.NumberOfDays" />
          </div>
        </div>
        
        <!-- <div class="form-group row">
          <label class="col-md-3 offset col-md-4">{{'RequestDate'}}</label>
          <div class="col-md-4">
            <input id="idRequestDate" componentNav prevComp="idName" nextComp="btnSaveId" type="datetime-local" name="txtEndDate" class="form-control" formControlName="RequestDate"
                   [(ngModel)]="vacation.RequestDate" />
          </div>
        </div> -->
      </form>
    </card-layout>
  </form-layout>
  