<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/2000Build/app/" />
        </rule>
      </rules>
	  <outboundRules>
	  <rule name="nocache-control">
	   <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
	   <conditions>
		<add input="{REQUEST_URI}" pattern="\.(html|json|xml|pdf|xlsx|xls|exe)$" />
		</conditions>
	   <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
	  </rule>
	  <rule name="noPragma">
	   <match serverVariable="RESPONSE_Pragma" pattern=".*" />
	   <conditions>
		<add input="{REQUEST_URI}" pattern="\.(html|json|xml|pdf|xlsx|xls|exe)$" />
		</conditions>
	   <action type="Rewrite" value="no-cache" />
	  </rule>
	  <rule name="noExpires">
	   <match serverVariable="RESPONSE_Expires" pattern=".*" />
	   <conditions>
		<add input="{REQUEST_URI}" pattern="\.(html|json|xml|pdf|xlsx|xls|exe)$" />
		</conditions>
	   <action type="Rewrite" value="0" />
	  </rule> 
	  <rule name="cache-control">
	   <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
	   <conditions>
		<add input="{REQUEST_URI}" pattern="\.(eot|otf|ttf|woff|woff2|js|ico|png|jpg|jpeg|gif|svg|css)$" />
		<add input="{REQUEST_URI}" pattern="(sprite).*\.(svg)\?" />
		</conditions>
	   <action type="Rewrite" value="public, max-age=7776000"/>
	  </rule>
	 </outboundRules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff2"/>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <httpCompression>
      <staticTypes>
        <add mimeType="application/*" enabled="true" />
        <add mimeType="image/*" enabled="true" />
      </staticTypes>
      <dynamicTypes>
      </dynamicTypes>
    </httpCompression>
    <httpProtocol>
      <customHeaders>        
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>


